# Django backend
TELEGRAM_BOT_TOKEN=8707649583:AAFlaiq9Q11jInfJXQ-tR8_GdUdg5VWQL4U
DJANGO_SECRET_KEY=*lbd)d_ejr_g_q2g+t^buud8c!f6+hm(t7e39%-(y4+57uttnz
DEBUG=True

# Database (SQLite by default in settings.py)
# POSTGRES_DB=bukharago
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
